body {
  background-color: black;
  min-height: 1200vh ;
  max-width: 500px;
}
h2 {
  text-align: center;
  color: white
}
img {
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  border:5px solid blue;
    
}
p {
  color:white;
  font-family: "Arial"
}
a {
  color:yellow;
}
h1 {
  color:blue;
}
h3 {
  color: white;
}